.container1{
    background-color: var(--secondary);
    height: -webkit-fill-available;
}

.form-bg{
    background-color: white;
    position: relative;
    z-index: 11;
    display: inline-table;
    height: auto;
    width: 90%;
    max-width: 70em;
    border-radius: 1rem 1rem;    
    margin-bottom: 2em;
    box-shadow: 0.4rem 0.4rem 1rem rgb(122 191 255 / 22%), 
                1rem 1.2rem 2rem rgb(149 202 252 / 30%);
}

h2 {
    color: var(--tertiary);
    margin: 0;
}

label {
    margin: 0;
    color: var(--tertiary);
    font-size: 15px;
}

.head{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-left: 10%;    
    padding-right: 10%;
}

.line{
    border-bottom: 1px solid var(--tertiary);
    width: 100%;
    display: block;
}

.form-control {
    width: 60%;
    height: 26px;
    border-radius: 0;
    font-size: 13px;
    padding: 4px 5px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(109 127 134 / 60%);
}

.form-control:focus {
    box-shadow: inset 0px 0px 0px 2px rgb(26 142 253 / 13%);
    border: 1px solid rgba(26 142 253 / 65%) !important;
}

.input-names {
    margin-top: 8px;
    width: 90%;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 21em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/assets/arrow.svg") 96% / 15% no-repeat;
}

#derived {
    background: url("/assets/arrow.svg") 96% / 12.5% no-repeat;
}

#metalgroup {
    width: 90%;
    margin-right: 4px;
}

.group {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.add-btn {
    border: 1px solid rgba(109 127 134 / 60%);
    background-color: var(--secondary);
    color: var(--tertiary);
}

#new-group {
    justify-content: flex-end;
}
