#port {
    display: block;
    height: 100vh;     
}

.container1{
    background-color: var(--secondary);
    height: -webkit-fill-available;
    max-height: -moz-available;
    height: 90.8%;
    padding-top: 2em;
}

.center{
    text-align: -webkit-center;
    text-align: -moz-center;
}
/*
#land {
    display: none;
}

@media screen and (min-width: 280px) and (max-width: 767px) and (orientation: landscape) {
    #port {
        display: none;
    }
    #land {        
        background: var(--secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .land-msg {
        text-align: center;
    }
    .land-msg > img {
        height: 80px;
        width: 80px;
    }
    .land-msg > p {
        color: var(--tertiary);
        padding-top: 1em;
        font-size: 18px;
        font-weight: 500;
    }
}

*/

#land {        
    background: var(--secondary);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.land-msg {
    text-align: center;
}
.land-msg > img {
    height: 80px;
    width: 80px;
}
.land-msg > p {
    color: var(--tertiary);
    padding-top: 1em;
    font-size: 18px;
    font-weight: 500;
}