
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3em;
}

.nav-link{
    font-size: 1.2em;
    font-weight: 400;
    color: var(--tertiary);
    transition: all .2s ease-in-out; 
}

.nav-link:hover{
    color: var(--primary);
    font-weight: 500;
}

.nav-logo {
    font-size: 2em;
    font-weight: 500;
    padding-top: 4px;
    height: 1.1em; 
    background: linear-gradient(to bottom right, var(--primary), var(--darkprimary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        z-index: 2000;
        left: -100%;
        margin-left: 2.5%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 95%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.15);
    }

    .nav-menu.active {
        left: 0;
        z-index: 2000;
    }

    .darken-bg{
        display: none;
    }

    .darken-bg.active{   
        display: flex; 
        content: ''; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(5, 45, 84,0.5);
        pointer-events: none;
        z-index:1001; opacity:1; 
        visibility:visible;
        position: fixed;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .nav-item {
        margin: 1.4em 0 1.4em 1.5em;
        width: 100%;
        display: flex;
        float: left;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 11;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}