<header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo">OptiMix</a>
            <div class="darken-bg" [ngClass]="{'active': open}"></div>
            <ul class="nav-menu" [ngClass]="{'active': open}">
                <li class="nav-item">
                    <a href="#" class="nav-link" (click)="closeMenu()">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/item-master']" class="nav-link" (click)="closeMenu()">Item Master </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link" (click)="closeMenu()">Login</a>
                </li>
            </ul>
            <div (click)="mobileMenu()" class="hamburger" [ngClass]="{'active': open}">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
</header>
